---
import Spacer from "../Spacer.astro";
---

<section id="contact" class="section">
  <div class="grid-columns-2">
    <p class="title-section fadeup-st">Contact</p>
    <div class="prose">
      <h1 class="fadeup-st">
        Want to connect, discuss a project or explore working together?
      </h1>
      <Spacer size="small" />
      <a
        href="/contact"
        class="button fadeup-st"
        data-umami-event="Contact Section Click">Get in touch</a
      >
      <Spacer size="2xl" />
      <Spacer size="xl" />
    </div>
  </div>
</section>
