---
import Spacer from "../mdx/Spacer.astro";
---

<section id="contact" class="general-section">
  <div class="_1-2-grid">
    <p class="section-title fadeup-st">Contact</p>
    <div class="measure">
      <h1 class="fadeup-st">
        Want to discuss a project or explore working together?
      </h1>
      <Spacer size="small" />
      <a
        href="mailto:daniel@fridgren.se?subject=Meeting+request"
        class="pill-btn fadeup-st"
        data-umami-event="Contact Section Click"
        target="_blank"
        rel="noopener noreferrer">Get in touch</a
      >
      <Spacer size="2xl" />
      <Spacer size="xl" />
    </div>
  </div>
</section>
