---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<main class={className}>
  <slot />
</main>

<style>
  main {
    max-width: 1440px;
    margin: 0 auto var(--space-128);
    padding: 0 var(--space-l);
  }
  @media (max-width: 768px) {
    main {
      margin: 0 auto var(--space-2xl);
      padding: 0 var(--space-m);
    }
  }
  @media (max-width: 576px) {
    main {
      margin: 0 auto var(--space-xl);
      padding: 0 var(--space-s);
    }
  }
</style>
