---
import Spacer from "../Spacer.astro";
---

<section id="subscribe" class="section">
  <div class="grid-columns-2">
    <div></div>
    <div>
      <p class="title-section"></p>
      <div class="prose">
        <h1 class="fadeup-st">Subscribe</h1>
        <div class="text">
          <Spacer size="xs" />

          <p class="text prose fadeup-st">
            Subscribe to receive occasional updates about design, technology,
            and complex systems. I share thoughts on emergence, cognition, and
            the patterns that shape our digital world.
          </p>
          <!-- Hidden form for Netlify detection -->
          <form name="newsletter" data-netlify="true" hidden>
            <input type="email" name="email" />
          </form>

          <form
            class="form-newsletter fadeup-st"
            name="newsletter"
            method="POST"
            action="/confirmation"
            data-netlify="true"
          >
            <label for="email" class="form-label"> Email Address </label>
            <div class="form-group">
              <input
                class="form-input"
                type="email"
                id="email"
                name="email"
                required
                placeholder="your@email.com"
                data-umami-event="newsletter-subscribe"
              />
              <button type="submit" class="button"> Subscribe </button>
            </div>
          </form>
          <Spacer size="xs" />
          <p class="text-sm prose fadeup-st">
            Your email will only be used to send you newsletter updates. You can
            unsubscribe at any time.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
