---
import AboutLayout from "../layouts/AboutLayout.astro";
---

<AboutLayout
    title="About Me"
    desc="Designer and developer focused on creating meaningful digital experiences"
>
    <p class="body-text-medium">
        Father of three. Often lateral thinking. Prone to use his intuition.
        Sometimes filled with awe and wonder. Tends to see patterns and connect
        the seemingly unrelated. With about two decades of experience in various
        design roles, mostly in hands-on design work, but also in more strategic
        roles.
        <br />
        <br />
    </p>
    <p class="body-text-medium">
        Values people who are willing to throw themselves to openness and have
        made some progress in their awareness journey. Not afraid of challenging
        existing structures. Might be classified as neurodivergent. Thrives in
        fringe environments driven by heart and curiosity.
    </p>
</AboutLayout>
