---
import AboutLayout from "../layouts/AboutLayout.astro";
---

<AboutLayout
    title="About Me"
    desc="Designer and developer focused on creating meaningful digital experiences"
>
    <p class="body-text-medium">
        I'm Daniel Fridgren, a seasoned UX designer with two decades of
        experience crafting user-centric digital products. My journey has taken
        me from pioneering work on the first version of Android at Google to
        leading design teams in dynamic startups and consulting for a diverse
        range of clients.
        <br />
        <br />
    </p>
</AboutLayout>
