---

---

<div class="main navLinks" role="navigation" aria-label="Main">
  <a href="/about/">About</a>
  <a href="/work/">Work</a>
  <a href="/blog/">Blog</a>
  <a href="/contact/">Contact</a>
</div>

<style>
  .main {
    display: flex;
    flex-shrink: 0;
    gap: var(--space-m);
  }

  @media screen and (max-width: 576px) {
    .main {
      display: none !important;
    }
  }

  .navLinks a {
    font-size: var(--fs-xs);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--color-bg);
    text-decoration: none;
  }

  .docked a {
    text-decoration: none;
  }

  .navLinks a:hover {
    color: var(--color-bg);
    text-decoration: 2px underline;
  }

  @media (prefers-color-scheme: dark) {
    .navLinks a {
      color: var(--color-fg);
    }
    .navLinks a:hover {
      color: var(--color-fg);
    }
  }
</style>
